<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <form
        class="mt-3 mb-4 form-search"
        [formGroup]="formSearch"
        (ngSubmit)="handleSubmit()"
      >
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-success">
              Buscar
            </button>
          </div>
          <input
            class="form-control"
            placeholder="Search a gif here..."
            type="text"
            formControlName="keyword"
          />
          <div class="input-group-append">
            <select
              formControlName="rating"
              class="form-control"
            >
              <option disabled>Rating:</option>
              <option
                *ngFor="let rating of ratings"
                [ngValue]="rating"
              >
                {{rating}}
              </option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
